<style>
  #addCameraButton {
    background-color: #282;
  }
  #camera-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }
  #camera-list > .camera-summary {
    flex-basis: 25em;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .camera-summary {
    margin: 1rem;
  }
</style>

<button
  id="addCameraButton"
  hx-get="/ui/form/camera-details.html"
  hx-trigger="click"
  hx-target="#camera-overview"
  hx-swap="outerHTML"
>
  Add
</button>

<div id="camera-list">
  {% for camera in cameras %}
    {% include "partial/camera-summary.html" %}
  {% endfor %}
</div>
