{% include "partial/reset-css.html" %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
<style>
  :root {
    --fg-primary: #222;
    --bg-primary: #FFF;
    --fg-secondary: #FFF;
    --bg-secondary: #222;
    --bg-secondary-light: #555;
    --transition-speed: 300ms;
    --nav-size: 4rem;
    --nav-icon-size: 2rem;
  }
  html {
    font-family: Nunito, sans-serif;
  }
  body {
    background: var(--bg-primary);
    color: var(--fg-primary);
  }
  html, body {
    min-height: 100vh;
  }
  input[type=text],
  input[type=password] {
    background: #0001;
    border: none;
    padding: 0.5em;
  }
  button {
    background: var(--bg-secondary);
    color: var(--fg-secondary);
    padding: 0.5em;
    border: none;
  }
  [onclick],
  [hx-trigger=click] {
    cursor: pointer;
  }
  h1, h2, h3 {
    border-bottom: 1px solid #2224;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
  h1, h2, h3, h4, h5, h6, label {
    font-weight: 500;
  }
  main {
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;
  }

  .form-group {
    margin-top: 0.5rem;
  }
  .form-group > label {
    display: inline-block;
    width: 39%;
  }
  .form-group > input,
  .form-group > select {
    display: inline-block;
    width: 60%;
  }
  @media only screen and (max-width: 30rem) {
    .form-group > label,
    .form-group > input,
    .form-group > select {
      width: 100%;
      display: block;
    }

  }


</style>
