{% include "partial/reset-css.html" %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
<style>
  :root {
    --fg-primary: #222;
    --bg-primary: #FFF;
    --fg-secondary: #FFF;
    --bg-secondary: #222;
    --bg-secondary-light: #555;
    --transition-speed: 300ms;
    --nav-size: 4rem;
    --nav-icon-size: 2rem;
  }
  html {
    font-family: Nunito, sans-serif;
  }
  body {
    background: var(--bg-primary);
    color: var(--fg-primary);
  }
  html, body {
    min-height: 100vh;
  }
  input[type=text],
  input[type=password] {
    background: #0001;
    border: none;
    padding: 0.5em;
  }
  button {
    background: var(--bg-secondary);
    color: var(--fg-secondary);
    padding: 0.5em;
    border: none;
  }
  [onclick] {
    cursor: pointer;
  }
</style>
