{% extends "layout/webmin.html" %}

{% block title %}Camera {{ camera.name }}{% endblock %}

{% block body %}
{{ super() }}

<style>
</style>

<style>
  #camera-preview {
    display: inline-block;
    width: 15rem;
  }
  #camera-details {
    display: inline-block;
  }
  #wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  #wrapper > * {
    margin: 1rem;
  }
</style>

<main>
  <h2>Camera - {{ camera.name }}</h2>

  <div id="wrapper">
    <div id="camera-preview">
      <h4>Preview</h4>
      <template data-src="/ui/snapshot/{{ camera.name }}.webp?auth=${JSON.parse(localStorage.authToken)}">
        <img src="${src}" data-refresh="1" onclick="viewCamera{{ camera.name }}(); return false;" />
      </template>
    </div>

    <div
      id="camera-details"
      hx-trigger="load"
      hx-get="/ui/partial/camera-details/{{ camera.name }}"
      hx-target="#camera-details"
      hx-swap="outerHTML"
    >Loading...</div>

  </div>
</main>

<script>
  function viewCamera{{ camera.name }}() {
    const wrapper = document.createElement('div');
    const frame   = document.createElement('iframe');

    frame.scrolling         = "no";
    frame.src               = "{{ mediamtx.hls }}/{{ camera.name }}";
    frame.id                = 'dialog_{{ camera.name }}';
    frame.style.display     = 'inline-block';
    frame.style.width       = 'calc(100vw - 10rem)';
    frame.style.maxWidth    = 'calc(150vh - 10rem)';
    frame.style.aspectRatio = 16 / 9;
    wrapper.appendChild(frame);

    wrapper.style.background = '#0008';
    wrapper.style.position   = 'fixed';
    wrapper.style.padding    = '5rem';
    wrapper.style.textAlign  = 'center';
    wrapper.style.top        = 0;
    wrapper.style.bottom     = 0;
    wrapper.style.left       = 0;
    wrapper.style.right      = 0;
    wrapper.style.zIndex     = 10;
    document.body.appendChild(wrapper);

    wrapper.onclick = function(ev) {
      document.body.removeChild(wrapper);
    }
  }
</script>

{% endblock %}
