<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}foobar{% endblock %} - MyNVR</title>
    {% include "partial/styling.html" %}
    <link rel="stylesheet" href="/ui/assets/flatpickr.css">
    <script src="/ui/assets/flatpickr.js"></script>
  </head>
  <body>
    <script>
      const qs = {
        encode(subject) {
          if (!subject) return '';
          if ('object' !== typeof subject) return '';
          return Object
            .entries(subject)
            .map(([key,value]) => value ? encodeURIComponent(key) + '=' + encodeURIComponent(value) : false)
            .filter(e=>e)
            .join('&')
        },
        decode(subject) {
          if (['#','?'].includes(subject.substring(0, 1))) subject = subject.substring(1);
          if (!subject) return {};
          return subject
            .split('&')
            .reduce((r, a) => {
              const [key, value] = a.split('=');
              r[decodeURIComponent(key)] = decodeURIComponent(value);
              return r;
            }, {})
        }
      };

      function elementExists(el) {
        while(el.parentNode) {
          if (el.parentNode == document.body) return true;
          el = el.parentNode;
        };
        return false;
      }

      document.body.addEventListener('htmx:configRequest', (e) => {
        const token = localStorage.authToken || sessionStorage.authToken;
        if (token) e.detail.headers['Authorization'] = 'Bearer ' + JSON.parse(token);
      });
      document.body.addEventListener('htmx:afterSwap', (e) => {
        const tmpls = [...document.body.querySelectorAll('template')];
        for(const tmpl of tmpls) {
          const content = tmpl.innerHTML;
          const context = Object.keys(tmpl.dataset).reduce((r, key) => {
            r[key] = (new Function('localStorage', 'return `'+tmpl.dataset[key]+'`;'))(localStorage);
            return r;
          }, {});
          const wrapper = document.createElement('div');
          wrapper.innerHTML = (new Function(...Object.keys(context), 'return `'+content+'`;'))(...Object.values(context));
          [...wrapper.children].forEach(child => {
            tmpl.parentNode.insertBefore(child, tmpl);
          });
          tmpl.parentNode.removeChild(tmpl);
        }
      });
      document.body.addEventListener('htmx:afterSwap', (e) => {
        const imgs = [...document.body.querySelectorAll('img[data-refresh]')];
        for(const img of imgs) {
          const ms = parseFloat(img.dataset.refresh) * 1000;
          delete img.dataset.refresh;
          if (ms < 1000) continue;
          img.loaded = true;
          img.onload = () => {
            img.loaded = true;
          };
          const interval = setInterval(() => {
            if (!elementExists(img)) return clearInterval(interval);
            if (!img.loaded) return;
            img.loaded = false;
            const u = new URL(img.src, document.location);
            const q = qs.decode(u.search || '');
            q._     = Date.now();
            u.search = '?' + qs.encode(q);
            img.src = u.toString();
          }, ms);
        }
      });
    </script>

    {% block body %}
      Common Layout
    {% endblock %}
    {% include "partial/cookie-banner.html" %}
    <script src="/ui/assets/htmx.js"></script>
  </body>
</html>
