<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}foobar{% endblock %} - MyNVR</title>
    {% include "partial/styling.html" %}
  </head>
  <body>
    <script src="/ui/assets/htmx.js"></script>
    <script>
      htmx.on('htmx:configRequest', (e) => {
        const token = localStorage.authToken || sessionStorage.authToken;
        if (token) e.details.headers['Authorization'] = `Bearer ${token}`;
      });
    </script>
    {% block body %}
      Common Layout
    {% endblock %}
    {% include "partial/cookie-banner.html" %}
  </body>
</html>
